.item-a{
    background-color: rgb(224, 224, 224);
    width:80%;
    
    transition: opacity 0.5s;
}

.m-bd{
    width: 600px;
    background-color: rgba(233, 233, 233, 0.528);
}
.m-bd-end{
    height: 100px;   
}
.topIcon {
    display       : inline-block;
    position      : fixed;       /* ボタン固定 */
    width:100%;
    bottom        : 0px;        /* 下から位置 */
    right         : 0px;        /* 右から位置 */
    /* padding       : 25px 15px;   余白       */
    background    : rgb(186, 177, 186);     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
   
    
    font-size     : 20pt;        /* 文字サイズ */
    font-weight   : bold;        /* 太字       */
    line-height   : 1.2em;       /* 行の高さ   */
    letter-spacing: 2px;         /* 文字間隔   */
    text-align    :left;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    z-index       : 999;         /* 重ね順位   */
  }
  .cart-b2{
    
    right: 25px;
  }
  .toolbox-left{
    width:400px;
  }
  .toolbox-right{
    position:absolute;
    line-height: 50px;
    width: 100px;
    bottom        : 0px; 
    right         : 10px;  
  }
.m-img div{-moz-border-radius:53px;-webkit-border-radius:53px;border-radius:53px;}
.m-img img{-moz-border-radius:45px;-webkit-border-radius:45px;border-radius:45px;}

.item-img {
    width: 200px;
    height: 180px;
}