<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cart</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/head.css">
  <link rel="stylesheet" href="css/cart.css">
</head>

<body>
  <header>
    <div id="icon-logo-back">
      <a th:href="@{/home}">
        <span class="title" id="cite-title">Logo</span>
      </a>
    </div>
    <div id="header-links">
      <a th:href="@{/login}">Login</a>
      <a th:href="@{/register}">Register</a>
    </div>
  </header>

  <div class="cart-body">

    <div class="m-hd">

      <div class="m-title">
        <div class="cart-t">Cart</div>
        <div class="cart-b">
          <button>お気に入り</button>
          <a href="order.html">
            <button>レジに進む</button>
          </a>
        </div>
      </div>

    </div>

    <div class="m-bd">
      <div class="item-a">
        <div class="item-a-t">
          <h3>商品名AAA</h3>
        </div>
        <div class="item-a-img">
          <img src="/img/img1.jpg">
        </div>
        <div class="item-a-type">
          <p>商品种类</p>
        </div>
        <div class="item-a-p">
          <h4><a>xxx</a>円</h4>
        </div>
        <div class="item-a-fav">
          <a>♡お気に入り</a>
        </div>
        <div class="item-a-del">
          <a>削除</a>
        </div>
        <div class="item-a-num">
          <input type="text" value="1" required></input>
        </div>
      </div>

      <div class="item-a">
        <div class="item-a-t">
          <h3>商品名BBB</h3>
        </div>
        <div class="item-a-img">
          <img src="/img/img2.jpg">
        </div>
        <div class="item-a-type">
          <p>商品种类</p>
        </div>
        <div class="item-a-p">
          <h4><a>xxx</a>円</h4>
        </div>
        <div class="item-a-fav">
          <a>♡お気に入り</a>
        </div>
        <div class="item-a-del">
          <a>削除</a>
        </div>
        <div class="item-a-num">
          <input type="text" value="1" required></input>
        </div>
      </div>

    </div>
    <div class="m-bd-end"></div>

    <div id="topScroll" class="topIcon">
      <div class="toolbox-left">
        <div class="cart-m">
          <p>小計 (<a>x</a> 個の商品): ￥<a>xxxx</a></p>
        </div>
      </div>

      <div class="toolbox-right">
        <div class="cart-b2">
          <a href="order.html">
            <button>レジに進む</button>
          </a>
        </div>
      </div>
    </div>

  </div>
</body>

</html>