<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/nav-bar.css">
    <link rel="stylesheet" href="../../static/css/goodsList.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
<div>
    <div class="nav-bar">
        <img src="../../static/img/nav-logo.jpg" class="nav-img"/>
        <!--        <span>EC site</span>-->
        <div class="nav-right">
            <span class="material-icons" id="user-icon">perm_identity</span>
        </div>
    </div>

    <div class="body-box">
        <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading">在庫一覧</div>
            <!-- Table -->
            <table class="table">
                <tr>
                    <th>商品名</th>
                    <th>商品画像</th>
                    <th>在庫</th>
                </tr>
                <tr>
                    <td>Dress1</td>
                    <td>
                        <img src="../../static/img/skirt.png">
                    </td>
                    <td>
                        <input>
                        <button>更新</button>
                    </td>
                </tr>
                <tr>
                    <td>Dress2</td>
                    <td>
                        <img src="../../static/img/skirt2.png">
                    </td>
                    <td>
                        <input>
                        <button>更新</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>
