<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>商品登録</title>
  <style>
    *{
      margin: 0;
      padding: 0;
    }
    #container{
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content:center;
      align-content: center;
    }
    #form_wrap{
      height: 500px;
      width: 350px;
      margin: 50px;
    }
  </style>
</head>
<body>
<div id="container">
  <div id="form_wrap">
    <p>商品登録</p>
    <form th:action="@{/item/add}" method="post">
      goods name: <input type="text" name="goodsname"/><br><br>
      category: <select name="dress"/><br><br>
      image: <input type="submit" value="upload"><br><br>
      price: <input type="text" name="price"/><br><br>
      description: <input type="text" name="desc"/><br><br>

      <input type="submit" value="cancel"><br>
      <input type="submit" value="add"><br>
      <label style="color: orangered" th:text="${msg}"></label>
    </form>
  </div>
</div>
</body>
</html>