<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fav</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/head.css">

</head>

<body>
    <header>
        <div id="icon-logo-back">
            <a th:href="@{/home}">
                <span class="title" id="cite-title">Logo</span>
            </a>
        </div>
        <div id="header-links">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/register}">Register</a>
        </div>
    </header>

    <div class="m-hd">

        <div class="m-title">
            <div class="m-t">お気に入り</div>
            <div class="cart-b">
                <a href="cart.html">
                    <button>カート</button>
                </a>
            </div>
        </div>

    </div>
    <div class="m-bd">
        <div class="item-c">
            <div class="item-a-t">
                <h3>商品名AAA</h3>
            </div>
            <div class="item-a-img">
                <img src="/img/img1.jpg">
            </div>
            <div class="item-a-type">
                <p>商品种类</p>
            </div>
            <div class="item-a-p">
                <h4><a>xxx</a>円</h4>
            </div>
            <div class="item-a-cart">
                <button>カートに入れる</button>
            </div>
            <div class="item-a-del">
                <a>削除</a>
            </div>
            <div class="item-a-num">
                <input type="text" value="1" required></input>
            </div>
        </div>

        <div class="item-c">
            <div class="item-a-t">
                <h3>商品名BBB</h3>
            </div>
            <div class="item-a-img">
                <img src="/img/img2.jpg">
            </div>
            <div class="item-a-type">
                <p>商品种类</p>
            </div>
            <div class="item-a-p">
                <h4><a>xxx</a>円</h4>
            </div>
            <div class="item-a-cart">
                <button>カートに入れる</button>
            </div>
            <div class="item-a-del">
                <a>削除</a>
            </div>
            <div class="item-a-num">
                <input type="text" value="1" required></input>
            </div>
        </div>

    </div>
</body>

</html>